
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color:white;
    text-align: center;
}

div {
    width:60%;
    background-color:rgba(255, 255, 255, 0.5);
    margin: 0 auto;
}

p {
    color:green;
    size: 60px;
  }

img {
    display: block;
    margin: 0 auto;
}

a,audio {
    display: block;
    text-align: center;
}

#footer {
    color:white;
    text-align: center;
}

#title {
    color:black;
    text-align: center;
    size:40px;
}